In [186]:
#Import dependencies
import pandas as pd
import numpy as np

In [187]:
#Store filepath in a variable
budget_data = "Resources/Budget_Data.csv"

In [188]:
#Read budget_data with pandas
budget_data_df = pd.read_csv(budget_data, encoding="utf-8")

In [189]:
#Show the 
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [190]:
#Change headers
budget_data_df.columns = ["Months", "Profits"]
budget_data_df.head()

     Months  Profits
0  Jan-2010   867884
1  Feb-2010   984655
2  Mar-2010   322013
3  Apr-2010   -69417
4  May-2010   310503

In [191]:
#Count the total number of months recorded
total_months = budget_data_df.Months.count()
print("Total Months:") 
print(total_months)

Total Months:
86

In [192]:
#Find total profit/loss
total_profit = budget_data_df.Profits.sum()
print("Total Profit:")
print(total_profit)

Total Profit:
38382578

In [193]:
#Create column showing change in value from one row to next
budget_data_df["Profit_Change"] = budget_data_df.Profits.diff()
budget_data_df.head()

     Months  Profits  Profit_Change
0  Jan-2010   867884            NaN
1  Feb-2010   984655       116771.0
2  Mar-2010   322013      -662642.0
3  Apr-2010   -69417      -391430.0
4  May-2010   310503       379920.0

In [194]:
budget_data_df["Profits"] = budget_data_df["Profits"].map("${:,.2f}".format)

budget_data_df.head()

     Months      Profits  Profit_Change
0  Jan-2010  $867,884.00            NaN
1  Feb-2010  $984,655.00       116771.0
2  Mar-2010  $322,013.00      -662642.0
3  Apr-2010  $-69,417.00      -391430.0
4  May-2010  $310,503.00       379920.0

In [195]:
#Find average of change in profit/loss
avg_profit_change = budget_data_df.Profit_Change.mean()
print("Average Change in Profit:")
print(avg_profit_change)
d = {'Total Months:' : total_months, 'Total ($):' : total_profit, 'Average Change ($):' : avg_profit_change, 'Greatest Increase in Profits ($):' : budget_data_df.Profit_Change.max(), 'Greatest Decrease in Losses ($):' : budget_data_df.Profit_Change.min()}
d_df = pd.DataFrame.from_dict(d, orient ='index', dtype='int32')

Average Change in Profit:
-2315.1176470588234

In [196]:
#Find greatest increase in profits
print("Greatest Increase in Profit:")
print(budget_data_df.Profit_Change.max())

Greatest Increase in Profit:
1926159.0

In [197]:
#Find greatest decrease in losses
print("Greatest Decrease in Losses:")
print( budget_data_df.Profit_Change.min())

Greatest Decrease in Losses:
-2196167.0

In [206]:
#Create dictionary to present all results in dataframe
d = {'Total Months:' : total_months, 'Total ($):' : total_profit, 'Average Change ($):' : avg_profit_change, 'Greatest Increase in Profits ($):' : budget_data_df.Profit_Change.max(), 'Greatest Decrease in Losses ($):' : budget_data_df.Profit_Change.min()}

]}
d_df = pd.DataFrame.from_dict(d, orient ='index', dtype='int32')
d_df.columns = [""]
d_df

Total Months:                            86
Total ($):                         38382578
Average Change ($):                   -2315
Greatest Increase in Profits ($):   1926159
Greatest Decrease in Losses ($):   -2196167

In [199]:
#Export dataframe as text file

In [216]:
from pandas import DataFrame

PyBank = {'A': ['Total Months','Total','Average Change','Greatest Increase in Profits','Greatest Decrease in Profits'], 'B':[total_months, total_profit, avg_profit_change, budget_data_df.Profit_Change.max(), budget_data_df.Profit_Change.min()]}

pb = DataFrame(PyBank, columns= ['A', 'B'])     
pb

                              A             B
0                  Total Months  8.600000e+01
1                         Total  3.838258e+07
2                Average Change -2.315118e+03
3  Greatest Increase in Profits  1.926159e+06
4  Greatest Decrease in Profits -2.196167e+06